<html>
   <head>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <style type="text/css">
      	.hide {
      		display:  none;
      	}
      	.btn-more {
      		border-style: none;
      		background: white;
      		font-weight: bold;
      	}
      	h4 {
      		display: inline;
      	}
	      pre {
			  background-color: grey;
			  max-height: 600px;
			  overflow: auto;
			  padding: 5px;
			  width: 80%;
			  white-space: pre-wrap;
			  word-break: keep-all;
			}
      </style>
   </head>
   <body>
      <div id="root">
         <item v-bind:title="title" v-bind:items="items"/>
      </div>
   </body>
   <script>
   	let x;
			Vue.component('item', {
			    props: ['title', 'link', 'items', 'desc'],
			    template: `
			    <div>
				    <a v-if="link" v-bind:href="link"><h4>{{ title }}</h4></a>
				    <h4 v-else>{{title}}</h4>
				    <button v-if="desc" class="btn-more" v-on:click="moreButton">>></button>
				    <pre v-if="desc" class="more hide">{{desc}}
				    </pre>
				    <ol>
				      	<li v-for="item in items">
				      			<item v-bind:title="item.title" v-bind:link="item.link" v-bind:items="item.items" v-bind:desc="item.desc"/>
				      	</li>
				    </ol>
			    </div>
			    `,
			     methods: {
			    	moreButton: (e) => { e.target.parentElement.querySelector(".more").classList.toggle("hide")}
			    }
			})

	
			var app = new Vue({
			    el: '#root',
			    data: {
			    	title: "Study Material",
			    	items: [
						    	{
						    		title: "Software Side",
						    		desc: "This is some text",
						    		items: [
									    		{
									    			title: "Design Principles - S.O.L.I.D",
									    			link: "https://www.geeksforgeeks.org/solid-principle-in-programming-understand-with-real-life-examples",
									    			desc: `
Single Responsibility Principle (SRP)
Open/Closed Principle
Liskov’s Substitution Principle (LSP)
Interface Segregation Principle (ISP)
Dependency Inversion Principle (DIP)
https://www.educative.io/blog/solid-principles-oop-c-sharp?aid=5082902844932096
													`
									    		},
									    		{
									    			title: "REST Principles",
									    			link: "https://medium.com/future-vision/the-principles-of-rest-6b00deac91b3"
									    		},
									    		{
									    			title: "Design Patterns",
									    			items: [
												    			{
									                                link: "https://www.javatpoint.com/proxy-pattern",
									                                title: "Proxy Pattern"
									                            },
									                            {
									                                link: "https://www.javatpoint.com/decorator-pattern",
									                                title: "Decorator Pattern"
									                            },
									                            {
									                                link: "https://www.javatpoint.com/adapter-pattern",
									                                title: "Adapter Pattern"
									                            },
									                            {
									                                link: "https://www.javatpoint.com/factory-method-design-pattern",
									                                title: "Factory Method Design Pattern"
									                            }
									    			]
									    		},
									    		{
									    			title: "OOPs Concepts",
												link: "https://www.youtube.com/watch?v=4SBGeBzgnfI&t=2s"
									    		}
						    		]
						    	},
						    	{
						                title: "Database Side",
						                items: [
							                {title: "SQL DB"},
							                {title: "Table Partitioning"},
							                {title: "DB Partitioning"},
							                {title: "Indexing"},
							                {title: "Write/Read Locking Mechanisms"},
							                {title: "Transactions / Rollback"},
							                {title: "Backups"}
						                ]
						            },
					{title: "Important links for preparation",
					 items: [
					 {title: "Hackerrank algo videos", link: "https://www.youtube.com/playlist?list=PLI1t_8YX-ApvMthLj56t1Rf-Buio5Y8KL"},
{title: "KMP Pattern matching", link: "https://www.youtube.com/watch?v=M9azY7YyMqI"},
{title: "leetcode.com > questions", link: "https://leetcode.com/problemset/algorithms/"},
{title: "leetcode.com > algorithms", link: "https://leetcode.com/study-plan/algorithm/"},
{title: "leetcode.com > dynamic-programming", link: "https://leetcode.com/study-plan/dynamic-programming/"},
{title: "leetcode.com > DS", link: "https://leetcode.com/study-plan/data-structure/"}]
					{
					title: "Tips",
						desc:`
Algorithms 

The ultimate goal is to arrive at an optimal solution by the end of the exercise. However, do not stress if the algorithm is not perfectly optimal. The interviewers are looking for you to solve most problems and to be able to apply the algorithm.

Pro-tip: Talk through your thoughts and coding with your interviewer - let them know how you think.

ALWAYS think about runtimes. Big O Notation. Understand complexities of algorithms.

Bonus points: demonstrate knowledge of whether a better algorithm could be implemented and complexity differences between the optimal algorithm and your algorithm.

Sorting

Demonstrate an understanding of sorting algorithms, their tradeoffs, and implementation of simple ones

 

Data Structures

Understand the structures and how to use it (think of lists, sets, maps, etc)

Be prepared to dissect code and use data structures to understand how it works. 

Talk about why the data structure is a good choice and discuss potential tradeoffs. 

 

Problem Solving

Your interviewers will be evaluating how you problem solve, come to a solution, etc. Interviewers are looking for you to gather the requirements and a full set of criteria needed to solve the problem presented to you.

Your interview should feel more like a dialogue - so be mindful when stating your key assumptions. Always, always, always ask clarifying questions before jumping to solutions. Example: Interviewers may want you to solve Part B so if you just start solving Part A without asking clarifying questions that’s a red flag on thought process. Make sure you are answering the right part of the problem and that you fully understand the problem. Especially if the question is open-ended.

Another way to consider this: Try to think of it as you are tutoring someone and you need to explain it thoroughly and clearly. Try to be detailed in your explanations. Always good to state other solutions that you took into account and state why you moved forward with solving the problem the way you did. This will show your breadth of knowledge.

Take advantage of any hints that interviewers give you. The hints are not that obvious, but it will guide you in the right direction.

It is ALWAYS better to ask questions - especially before you start - so you are clear on what the interviewer is asking for and looking for - and so that you have all of the info you need to appropriately tackle the problem. Better to ask more questions than none at all.

Be able to solve a problem recursively and know how to use and repurpose common recursive algorithms to solve new problems.

 

Some things to avoid:

Jumping into design or coding without first analyzing the problem/question asked. This demonstrates the inability to solve complex problems.

Making assumptions. If you do make assumptions, state that you are making an assumption and ask if that is a fair/ valid assumption.

Staying silent. Always better to talk and think out loud.

Disregarding hints.

Flipping languages mid-interview. If you start the interview coding in Java, do not end in C++. It shows bad thought process and confuses interviewers.
`
					}
			            ]
			    }
			})
      
   </script>
</html>
