<html>
   <head>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
   </head>
   <body>
      <div id="root">
         <item v-bind:title="title" v-bind:items="items"/>
      </div>
   </body>
   <script>
			Vue.component('item', {
			    props: ['title', 'link', 'items'],
			    template: `
			    <div>
				    <a v-if="link" v-bind:href="link"><h4>{{ title }}</h4></a>
				    <h3 v-else>{{title}}</h3>
				    <ol>
				      	<li v-for="item in items">
				      			<item v-bind:title="item.title" v-bind:link="item.link" v-bind:items="item.items"/>
				      	</li>
				    </ol>
			    </div>
			    `
			})

	
			var app = new Vue({
			    el: '#root',
			    data: {
			    	title: "Study Material",
			    	items: [{
			    		title: "Software Side",
			    		items: [
						    		{
						    			title: "Design Principles - S.O.L.I.D",
						    			link: "https://www.geeksforgeeks.org/solid-principle-in-programming-understand-with-real-life-examples"
						    		},
						    		{
						    			title: "REST Principles",
						    			link: "https://medium.com/future-vision/the-principles-of-rest-6b00deac91b3"
						    		},
						    		{
						    			title: "Design Patterns",
						    			items: [
									    			{
						                                link: "https://www.javatpoint.com/proxy-pattern",
						                                title: "Proxy Pattern - Javatpoint"
						                            },
						                            {
						                                link: "https://www.javatpoint.com/decorator-pattern",
						                                title: "Decorator Pattern - Javatpoint"
						                            },
						                            {
						                                link: "https://www.javatpoint.com/adapter-pattern",
						                                title: "Adapter Pattern - Javatpoint"
						                            },
						                            {
						                                link: "https://www.javatpoint.com/factory-method-design-pattern",
						                                title: "Factory Method Design Pattern - Javatpoint"
						                            }
						    			]
						    		},
						    		{
						    			title: "OOPs Concepts"
						    		}
			    		]
			    	},
			    	{
			                title: "Database Side",
			                items: [{
			                        title: "SQL DB"
			                    },
			                    {
			                        title: "Table Partitioning"
			                    },
			                    {
			                        title: "DB Partitioning"
			                    },
			                    {
			                        title: "Indexing"
			                    },
			                    {
			                        title: "Write/Read Locking Mechanisms"
			                    },
			                    {
			                        title: "Transactions / Rollback"
			                    },
			                    {
			                        title: "Backups"
			                    }
			                ]
			            }
			            ]
			    },
			    methods: {

			    }
			})
      
   </script>
</html>
